@charset "UTF-8";

body {
    font-family: 'Poppins', sans-serif;
    max-width: 1280px;
    margin: 0 auto;
    background-color: #5e5b5bad;
    color: #333333;
}

body.modo-escuro {
    background-color: #212121;
    color: #f5f5f5;
}

header {
   
    padding: 25px;
    display: flex;
    justify-content: space-between;
}

header  .logo {
    width: 30px;
    transition: 0.2s ease-in-out;
}

header .logo:hover {
    transform: scale(1.05);
    cursor: pointer;
}

header .imagem-botao {
    width: 30px;
    transition: 0.2s ease-in-out;
}

header .imagem-botao:hover {
    transform: scale(1.05);
    cursor: pointer;
}

header #botao-alterar-tema {
    background: none;
    border: none;   
}

main {
    padding: 25px;
}

main .listagem-pokemon {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

main .cartao-pokemon {
  background-color: #d8e3ec;  
  width: 200px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  border-radius: 15px;
  transition: 0.2s ease-in-out;
}

main .cartao-pokemon:hover {
    background-color: #96d9d6;
    transform: scale(1.05);
}

.modo-escuro .cartao-pokemon {
    background-color: #a8a8a8;
}


main .cartao-pokemon .informacoes span {
   text-transform: uppercase;
    padding: 5px;
    font-size: 17px;
}
main .cartao-pokemon .gif {
   
    width: 90px;
    height: 90px;
}

main .cartao-pokemon .tipos {
    
   display: flex;
   gap: 15px;
}

main .cartao-pokemon .tipo {
    padding: 8px;
    border-radius: 10px;
    
}

.grama {
    background-color: #7ac74c;
}

.veneno{
    background-color: #df67ddfb;
}

.fogo {
    background-color: #ee8130;
}

.agua {
    background-color: #6390f0;
}

.inseto {
    background-color: #a6b91a;
}

.voador {
    background-color: #A4A1E6;
}

.normal {
    background-color: #c5c6c7;
}

.eletrico {
    background-color: #fdca40;
}

.terra {
    background-color: #F5E6C5;
}

.fada {
    background-color: #D995F0;
}


main .descricao {
    max-height: 80px;
    overflow-y: scroll;
    font-size: 14px;
    padding-right: 10px;
}


main .cartao-pokemon .informacoes {
    display: flex;
    justify-content: space-between;
    border: 1px solid #333333;
    border-radius: 10px;
}
footer {
    text-align: center;
    font-size: 1.2em;
}
footer > a {
text-decoration: none;
color: #eb0000;
}

footer > a:hover {
    text-decoration: underline;
    text-decoration: none;
    background-color: #96d9d6;
    
}
